@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

    height: 100%;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
}

section{
    height: 100vh;
    padding: 100px;
    background:rgb(37, 36, 36);
}

section header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
}

section header .logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

section header .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(assets/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

section .container {
    display: flex;
    position: absolute;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    z-index: 100;
}

section .container .box {
    position: relative;
    width: 30%;
    height: 100%;
    overflow: hidden;
    border-right: 10px solid;
}

section .container .box:last-child{

    border-right: nome;

}

section .container .box .imgBox {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0.5;
    filter: grayscale(1);
}

section .container .box .imgBox.activate {
    position: fixed;
    top: 100px;
    left: 100px;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    z-index: 1000;
    opacity: 1;
    filter: grayscale(0);
}

section .container .box .imgBox:hover {

    opacity: 1;
    filter: grayscale(0);
}

section .container .box .imgBox img {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
}

.footer .social {
    position: relative;
    display: flex;

}

.footer .social li {
    list-style: none;
}

.footer .social li a {
    color: #555;
    text-decoration: none;
    margin-right: 20px;
}

.footer .social li a:hover {
    color: white;
}